<div id="<%= dom_id(user) %>">
  <%= render(Components::Page::Show.new(
        record: user,
        columns: [
          :name,
          :email,
          :humanized_role
        ]
      )) %>
</div>
