<div id="<%= dom_id(customer) %>">
  <%= render(Components::Page::Show.new(
        record: customer,
        columns: [
          :name,
          :email_address,
          :country_code,
          :phone,
          :document
        ]
      )) %>
</div>
