<div class="relative overflow-hidden bg-white shadow-md dark:bg-gray-800 sm:rounded-lg">
  <%%= render(Components::PageTitle::Details.new(record: @<%= singular_name %>, back_url: <%= plural_name %>_path)) %>

  <%%= render("<%= singular_name %>", <%= singular_name %>: @<%= singular_name %>) %>
</div>
